@page "/spacemarines"

<h3>Space Marines</h3>

<div class="marine-container">
    @if (spaceMarines == null || !spaceMarines.Any())
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var marine in spaceMarines)
        {
            <div class="spacemarine-box">
                @marine.Name
            </div>
        }
    }
</div>

@code {
    private List<SpaceMarine> spaceMarines = new List<SpaceMarine>();

    [Inject]
    private HttpClient Http { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadSpaceMarines();
    }

    private async Task LoadSpaceMarines()
    {
        try
        {
            spaceMarines = await Http.GetFromJsonAsync<List<SpaceMarine>>("https://localhost:7256/GetAllSpaceMarines");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    public class SpaceMarine
    {
        public int ClassId { get; set; }
        public string Name { get; set; }
        public string Role { get; set; }
    }
}
